<html>
    <head>
        <title>Blog DO GABRA</title>
    </head>
    <body>
        <div>
            <h1><a href="/">blog do GABRA</a></h1>
        </div>
    	<div>
    		{% for post in posts %}	
    			

                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2>
                        <a href="">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>


    		{% endfor %}
    	</div>
    </body>
</html>
